.addTicket {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: white;
  border: none;
  border-radius: 50%;
  z-index: 4;
}

.addTicket:active {
  outline: none;
  border: none;
}

#restoreHideTickets {
  color: rgb(110, 110, 224);
}

#restoreHideTickets:hover {
  color: rgb(65, 65, 211);
  text-decoration: underline;
}
