.ticket {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: 95%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0px;
}

.ticketContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.ticketInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hideTicketButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
